<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head %}
    {% endblock %}
    <title>Recookest</title>
</head>

<body>
    <header>

            <h1><a href="/" class="logo">Recookest</a></h1>

            <nav>
                <ul>
                    <li><a href="/register">新規登録</a></li>
                    <li><a href="/login">ログイン</a></li>
                </ul>
            </nuv>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>


</html>